body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  
  .content {
    text-align: left;
  }
  
  .content p {
    margin-bottom: 20px;
  }

  body {
    background-image: url("https://th.bing.com/th/id/R.b9337ca22cd141f5e22164b13059bcc6?rik=l00YrGB2MMWyWg&pid=ImgRaw&r=0");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .content {
    color: white;
  }